---
layout: default
---

<div class="home">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(0).jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(4).jpeg" data-holder-rendered="true">
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(3).jpeg" data-holder-rendered="true">
            </div>
        </div>  
        <div class="col-md-7">
            <div class="card flower-box">
                <img alt="100%x280" style="" src="../assets/img/procsimple%20(2).jpeg" data-holder-rendered="true">
            </div>
        </div>
<!--
        <div class="col-md-4">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(6).jpeg" data-holder-rendered="true">
            </div>
        </div>  
-->
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(8).jpeg" data-holder-rendered="true">
            </div>
        </div>  
        <div class="col-md-3">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(1).jpeg" data-holder-rendered="true">
            </div>
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(11).jpeg" data-holder-rendered="true">
            </div>
        </div>  
        <div class="col-md-4">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(10).jpeg" data-holder-rendered="true">
            </div>
        </div> 
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
                <img  alt="100%x280" style="" src="../assets/img/procsimple%20(9).jpeg" data-holder-rendered="true">
            </div>
        </div> 
    </div>
</div>

<!--
  <h1 class="page-heading">Posts</h1>
  
  {{ content }}


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->

<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

